<!DOCTYPE html>
<html>
<body>
    <p>Hey team,</p>
    <p>Below is the guest card info for my client {{ client.first_name }}. Please let me know if there are any issues.</p>
    <ul>
        <li><strong>Name:</strong> {{ client.first_name }} {{ client.last_name }}</li>
        <li><strong>Phone:</strong> {{ client.phone_number }}</li>
        <li><strong>Email:</strong> {{ client.email }}</li>
        <li><strong>Interested In:</strong> {{ interested }}</li>
        <li><strong>Move By:</strong> {{ move_by }}</li>
    </ul>
    <p>Best,</p>
    <p>{{ agent.first_name }} {{ agent.last_name }}</p>
    <p>{{ agent.profile.phone_number }}</p>
</body>
</html>